In [10]:
import pandas as pd 
file_path_one = "bitcoin_cash_price.csv"
file_path_two= "dash_price.csv"

bitcoin = pd.read_csv(file_path_one)
dash = pd.read_csv(file_path_two)

In [11]:
bitcoin.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [12]:
dash.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [20]:
bitcoin = bitcoin.rename(columns={'Open': 'Bitcoin Open','High':'Bitcoin High', 'Low':'Bitcoin Low', 'Close':'Bitcoin Close', 'Volume': 'Bitcoin Volume', 'Market Cap':'Bitcoin Market Cap'})
bitcoin.head()

,Date,Bitcoin Open,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Bitcoin Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000"

In [21]:
dash = dash.rename(columns={'Open': 'Dash Open','High':'Dash High', 'Low':'Dash Low', 'Close':'Dash Close', 'Volume': 'Dash Volume', 'Market Cap':'Dash Market Cap'})
dash.head()

,Date,Dash Open,Dash High,Dash Low,Dash Close,Dash Volume,Dash Market Cap
0,17-Sep-17,298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [23]:
combine = pd.merge(bitcoin,dash, on='Date')
combine.head()

,Date,Bitcoin Open,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Bitcoin Market Cap,Dash Open,Dash High,Dash Low,Dash Close,Dash Volume,Dash Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [26]:
bitcoin_open = combine['Bitcoin Open'].max()
dash_open = combine['Dash Open'].max()
bitcoin_totv = round(combine['Bitcoin Volume'].sum()/1000000000, 2)
dash_totv = round(combine['Dash Volume'].sum()/1000000000, 2)

In [31]:
new = pd.DataFrame({"Best Bitcoin Open": [bitcoin_open], "Best Dash Open": [dash_open]})
new

   Best Bitcoin Open  Best Dash Open
0             772.42          400.42